node_modules
/build
/tmp
coverage
/.next
/next.config.js
/docs/src/modules/utils/find.js
/docs/export
flow
flow-typed
/packages/*/lib
/packages/material-next-icons/test/fixtures
/packages/material-next-icons/src
/packages/material-next-icons/tpl
/packages/material-next-icons/build
/packages/material-next-codemod/src/*/*.spec*
/examples/create-react-app/build
/.git
